@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-Black.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-Bold.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-ExtraBold.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-Light.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-Medium.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-SemiBold.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-ThicccAF.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-Thin.ttf");
}
@font-face {
    font-family: "main";
    src: url("../fonts/THICCCBOI-Regular.ttf");
}
